*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eccebd;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px dashed black;
    padding: 30px;
}

.title-index {
    color: black;
    font-weight:500;
    font-size: 1.8rem;
    flex: 1;
}

.nav_ul {
    width: 20%;
    flex: 2;
    min-width: 320px;
    max-width: 515px;
}


.list_menu {
    list-style: none;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list_item_nav a {
    color: black;
    font-weight: 500;
    font-size: smaller;
    text-decoration: none;
    border: solid 3px;
    border-radius: 50px;
    padding:5px;
}

.main_container {
    width: 100%;
    height: auto;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 50%;
    height: auto;
    padding: 20px;
    text-align: center;
    border: 4px dashed black;
    border-radius: 15px;
    gap: 20px;

}

#home_container{
    width: 100%;
    border: none;
    height: auto;
}

#description_container p{
    width: 65%;
    height: auto;
}

#projects_container ul{
    list-style-type: none;
    text-align: start;

}

.list-item a{
    text-decoration: none;
    color:darkslategray
}











