*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f172a;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.encabezado {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    border: 4px dashed #f8fafc;
    border-radius: 15px;
}

.title-index {
    color: #f8fafc;
    font-weight:500;
    font-size: 1.8rem;
    flex: 1;
    margin: 40px;
}

.nav_ul {
    width: 10%;
    flex: 2;
    margin:40px;
    min-width: 258px;
    max-width: 515px;
}


.list_menu {
    list-style: none;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list_item_nav a {
    color: #f8fafc;
    font-weight: 500;
    font-size: smaller;
    text-decoration: none;
    border: solid;
    border-radius: 50px;
    padding:5px;
}

.main_container {
    padding: 3px;
    margin: 10px;
}

