*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eccebd;
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.encabezado {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px dashed black;
    padding: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #eccebd;
    z-index: 2;
}

.title-index {
    color: black;
    font-weight:500;
    font-size: 1.8rem;
    flex: 1;
}

.nav_ul {
    width: 20%;
    flex: 2;
    min-width: 320px;
    max-width: 515px;
}


.list_menu {
    list-style: none;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list_item_nav a {
    display: inline-block;
    color: black;
    width: 85px;  
    height: 32px; 
    text-align: center;
    font-weight: 500;
    font-size: smaller;
    text-decoration: none;
    border: solid 3px;
    border-radius: 50px;
    padding:5px;
    transition:all ease-out 0.2s
}

.list_item_nav a:hover{
    align-content: center;
    width: 100px;
    height: 40px;
    background-color:  rgb(200, 103, 13);
    border-color: transparent;
}

.main_container {
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 90px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50%;
    height: 300px;
    padding: 20px;
    text-align: center;
    border: 4px dashed black;
    border-radius: 15px;
    gap: 20px;

}

#home_container{
    width: 100%;
    height: auto;
    border: none;

}

@keyframes crucero {

    0% {

        transform: translateX(-100%);
    }
    100% {

        transform: translateX(100%);
    }
}

@keyframes contracrucero {
    
    0% {

        transform: translateX(100%);
    }
    100% {

        transform: translateX(-100%);
    }
}

.arrows{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
    pointer-events: none;
}

.arrows1 {
    top: 200px;
}

.arrows2{
    top:500px;
}

.rightway{
    animation: crucero 5s linear infinite;
}

.rightway1{

    animation-delay: 3s;
}
.rightway2{
    animation-delay: 2s;
}
.leftway{
    animation: contracrucero 3s linear infinite;
}


#home_container h1{
    text-transform: capitalize;
    font-size:2.2rem;
    margin: 200px 0;
    width: auto;
    transition:all ease-out 0.5s;
}

#home_container h1:hover{
    font-size: 2.8rem;
}



#home_container h1 span{
    color: rgb(200, 103, 13);
    transition:all ease-out 0.2s;
}

#home_container h1:hover span{
    font-size: 3rem;
}

#description_container,
#projects_container,
#contact_container{
    transition: all ease-out 0.2s;
}

#description_container:hover,
#projects_container:hover,
#contact_container:hover{
    width: 55%;
    height: 350px;
    border-color:  rgb(200, 103, 13);

}

#description_container:hover h2,
#projects_container:hover h2,
#contact_container:hover h2{
    color:  rgb(200, 103, 13);
    

}

#description_container p{
    width: 65%;
    height: auto;
}

#projects_container ul{
    list-style-type: none;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.list-item a{
    text-decoration: none;
    color:darkslategray
}

.list-item a:hover{
    color: darkgoldenrod;
}


footer{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    border-top: 4px dashed black;
    padding: 30px;
}

footer div{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer div figure{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div figure .icon{
    font-size: 30px;
    object-fit: cover;
}

footer div figure figcaption a{
    text-decoration: none;
    color: darkslategray;
}










